# inspired by https://github.com/GitTools/GitVersion/blob/main/.github/workflows/_unit_tests.yml
on:
  workflow_call:
env:
  DOTNET_ROLL_FORWARD: 'Major'

jobs:
  unit_test:
    name: Unit Tests (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: corepack enable # enable corepack before setup-node
      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          check-latest: true
          node-version-file: package.json
      - run: yarn

      - uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: '8.x'

      - run: dotnet test
