# inspired by https://github.com/GitTools/GitVersion/blob/main/.github/workflows/_unit_tests.yml
name: .NET Unit Tests
on:
  workflow_call:
env:
  DOTNET_ROLL_FORWARD: Major

jobs:
  unit_test:
    name: Unit Tests (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          cache: npm
          check-latest: true
          node-version-file: package.json
      - run: npm i -g npm@latest

      - run: npm ci

      - uses: actions/setup-dotnet@v5
        with:
          cache: dotnet

      - run: dotnet test
