# Test changes locally with https://github.com/nektos/act
name: .NET Release

# TODO
# - Allow workflows to be driven by the project(s)

on:
  workflow_call:
  # push:
  #   branches: [ main, develop ]
  #   paths-ignore:
  #   - ".github/**/*.*"
  #   - "**/*.md"
  #   - "**/*.txt"

jobs:
  ci:
    name: CI # run test.yml. If it fails, this job fails.
    uses: ./.github/workflows/dotnet-ci.yml
  release:
    needs: [ci] # start 'release' if 'ci' completes successfully
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
      packages: write # for pushing GitHub Nuget packages
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Required by GitVersion, Semantic Release
          submodules: recursive

      - uses: actions/setup-node@v6
        with:
          cache: npm
          check-latest: true
          node-version-file: package.json
          node-version: lts/*
      - run: npm i -g npm@latest

      - uses: actions/setup-dotnet@v5
        with:
          cache: dotnet

      - name: NPM - Clean Install
        run: npm ci # Required for Semantic Release

      ################
      # RELEASE
      # `dotnet publish` must be executed by @semantic-release/exec
      ################
      # https://github.com/semantic-release/semantic-release
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
        run: npx semantic-release
