on:
  workflow_dispatch:
  push:
    branches: [main, develop, 3.x]

jobs:
  npm-checks:
    uses: './.github/workflows/npm-ci-and-pack.yml'
    permissions:
      id-token: write # to enable use of OIDC for npm provenance; Upload coverage reports to Codecov
      packages: write
      contents: read # access to check out code and install dependencies
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GL_TOKEN: ${{ secrets.GL_SEMANTICRELEASE }}
      NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
  npm-release:
    runs-on: ubuntu-latest
    needs: npm-checks
    permissions:
      contents: write # to be able to publish a GitHub release
      id-token: write # to enable use of OIDC for npm provenance
      issues: write # to be able to comment on released issues
      packages: write
      pull-requests: write # to be able to comment on released pull requests

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: '>=24.0.0'
          # see https://github.com/actions/setup-node/blob/main/src/main.ts#L85:~:text=function-,resolveVersionInput():,-string%20%7B
          node-version-file: package.json
          check-latest: true

      # ensure GitLab is synced _before_ releasing
      - name: Sync to GitLab
        uses: kujov/gitlab-sync@2.1.0
        with:
          gitlab_url: https://gitlab.com/halospv3/HCE.Shared
          username: BinToss
          gitlab_pat: ${{ secrets.GL_SEMANTICRELEASE }}
      - name: List commits since last tag
        run: git log $(git describe --tags --abbrev=0)..HEAD --no-merges --oneline
      - run: npm i -g npm@latest # Ensures the latest NPM CLI is used
      - run: npm ci
      - run: npm audit signatures
      - run: npm run semantic-release -- --debug # make git tag, commit updated files, release to GitHub/GitLab.
        id: semantic-release
        # outputs:
        #  - new-release-published
        #  - new-release-version
        #  - new-release-git-tag
        env:
          DEBUG: 'semantic-release*'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GL_TOKEN: ${{ secrets.GL_SEMANTICRELEASE }}
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
